@section scripts
{
    <!-- Layer Slider -->
    <script type="text/javascript" src="~/Scripts/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-transit-modified.js"></script>
    <script type="text/javascript" src="~/Scripts/layerslider.kreaturamedia.jquery.js"></script>
    <script type='text/javascript' src="~/Scripts/greensock.js"></script>
    <script type='text/javascript' src="~/Scripts/layerslider.transitions.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            if (typeof jQuery.fn.layerSlider == "undefined")
            { lsShowNotice('layerslider_1', 'jquery'); } else { jQuery("#layerslider_1").layerSlider({ responsiveUnder: 1240, layersContainer: 1060, skinsPath: '@Url.Content("~/Scripts/layerslider/skins/")' }) }
        });
    </script>
}

@section styles{
    <link rel="stylesheet" href="~/Content/layerslider.css" type="text/css">
}

<!--slider starts-->
@Html.Partial("IndexPartials/_Slider")
<!--slider ends-->

<!--primary starts-->
<section id="primary" class="content-full-width">

    <!--services starts-->
    @Html.Partial("IndexPartials/_Services")
    <!--services ends-->

    <div class="dt-sc-hr"></div>

    <!--PlayAsYouLearn fullwidth-background starts-->
    @*@Html.Partial("IndexPartials/_PlayAsYouLearn")*@
    <!--PlayAsYouLearn fullwidth-background ends-->

    <div class="dt-sc-hr"></div>

    <!--Portfolio starts-->
    @Html.Partial("IndexPartials/_Portfolio")
    <!--Portfolio ends-->

    <div class="dt-sc-hr"></div>

    <!--RecentBlogs fullwidth-background starts-->
    @Html.Partial("IndexPartials/_RecentBlogs")
    <!--RecentBlogs fullwidth-background ends-->

    <div class="dt-sc-hr"></div>

    <!--OurStaffs starts-->
    @Html.Partial("IndexPartials/_OurStaffs")
    <!--OurStaffs ends-->

    <div class="dt-sc-hr"></div>

    <!--Recent Products fullwidth-background starts-->
    @Html.Partial("IndexPartials/_RecentProducts")
    <!--Recent Products fullwidth-background ends-->
</section>
<!--primary ends-->