@using IXL.Resources
<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="@Localization.lang" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="@Localization.lang" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="@Localization.lang" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="@Localization.lang" class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Localization.WebsiteSiteName - @ViewBag.Title</title>
    <meta name="description" content="@Localization.WebsiteDescription">
    <meta name="author" content="@Localization.Author">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon"/>
    <link href='@Url.Content("~/favicon.ico")' rel='apple-touch-icon-precomposed' />
    <link href='@Url.Content("~/favicon.ico")' sizes='114x114' rel='apple-touch-icon-precomposed' />
    <link href='@Url.Content("~/favicon.ico")' sizes='72x72' rel='apple-touch-icon-precomposed' />
    <link href='@Url.Content("~/favicon.ico")' sizes='144x144' rel='apple-touch-icon-precomposed' />
    <!-- /all in one seo pack -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Kids Life &raquo; Feed" href="http://wedesignthemes.com/themes/dt-kidslife/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Kids Life &raquo; Comments Feed" href="http://wedesignthemes.com/themes/dt-kidslife/comments/feed/" />
    <link rel="alternate" type="text/calendar" title="Kids Life &raquo; iCal Feed" href="http://wedesignthemes.com/themes/dt-kidslife/events/?ical=1" />
    <link rel="alternate" type="application/rss+xml" title="Kids Life &raquo; Home Comments Feed" href="http://wedesignthemes.com/themes/dt-kidslife/home/feed/"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/layout")
    @RenderSection("styles", required: false)
    <!--jquery-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.BodyClass" dir="@Localization.Dir">
    <!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        @Html.Partial("LayoutPartials/_Header")
        <!--header ends-->
        <!--main starts-->
        <div id="main">
            @RenderBody()
        </div>
        <!--main ends-->
        <!--footer starts-->
        @Html.Partial("LayoutPartials/_Footer")
        <!--footer ends-->
    </div>
    <!--wrapper ends-->
    <a href="" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>