@using IXL.Resources
<!--footer starts-->
<footer>
    <!--footer-widgets-wrapper starts-->
    <div class="footer-widgets-wrapper">
        <!--container starts-->
        <div class="container">

            <div class="column dt-sc-one-fourth first">
                <aside class="widget widget_text">
                    <h3 class="widgettitle red_sketch"> @Localization.FooterAboutTitle </h3>
                    <p>Happy <a href=""><strong>@Localization.WebsiteSiteName</strong></a> comes with powerful theme options, which empowers you to quickly and easily build incredible store. </p>
                    <ul>
                        <li> <a href=""> English Grammar Class </a> </li>
                        <li> <a href=""> Music class </a> </li>
                        <li> <a href=""> Swimming & Karate </a> </li>
                        <li> <a href=""> Lot of HTML Styles </a> </li>
                        <li> <a href=""> Unique News Page Design </a> </li>
                    </ul>
                </aside>
            </div>

            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_recent_entries">
                    <h3 class="widgettitle green_sketch"> Latest Post </h3>
                    <ul>
                        <li>
                            <a href="">
                                <img src="@Url.Content("~/Content/images/product12-76x70.jpg")" alt="Trendy Kids" title="Trendy Kids">
                            </a>
                            <h6><a href=""> Trendy Kids </a></h6>
                            <span> March 23, 2014 </span>
                        </li>
                        <li>
                            <a href="">
                                <img src="@Url.Content("~/Content/images/product11-76x70.jpg")" alt="Amazing post with all goodies" title="Amazing post with all goodies">
                            </a>
                            <h6><a href=""> Amazing post with all goodies </a></h6>
                            <span> March 23, 2014 </span>
                        </li>
                        <li>
                            <a href="">
                                <img src="@Url.Content("~/Content/images/product10-76x70.jpg")" alt="Toddler Style" title="Toddler Style">
                            </a>
                            <h6><a href=""> Toddler Style </a></h6>
                            <span> March 23, 2014 </span>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="column dt-sc-one-fourth">
                <aside class="widget tweetbox">
                    <h3 class="widgettitle yellow_sketch"><a href="#"> Twitter Feeds </a>
                    </h3>
                    <div id="tweets_container"></div>
                </aside>
            </div>

            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle steelblue_sketch">Contact</h3>
                    <div class="textwidget">
                        <p class="dt-sc-contact-info"><span class="fa fa-map-marker"></span><span> @Localization.CompanyAddress</span></p>
                        <p class="dt-sc-contact-info"><span class="fa fa-phone"></span><span dir="ltr"> @Localization.PhoneNo </span></p>
                        <p class="dt-sc-contact-info"><span class="fa fa-envelope"></span><a href="mailto:@Localization.CompanyEmail"><span>contact<i class="fa fa-at" aria-hidden="true"></i>@Localization.CompanyDomain</span></a></p>
                    </div>
                </aside>
                <aside class="widget mailchimp">
                    <p> We're social </p>
                    <form name="frmnewsletter" class="mailchimp-form" action="php/subscribe.php" method="post">
                        <p>
                            <span class="fa fa-envelope-o"> </span>
                            <input type="email" placeholder="Email Address" name="mc_email" required />
                        </p>
                        <input type="submit" value="Subscribe" class="button" name="btnsubscribe">
                    </form>
                    <div id="ajax_subscribe_msg"></div>
                </aside>
            </div>

        </div>
        <!--container ends-->
    </div>
    <!--footer-widgets-wrapper ends-->
    <div class="copyright">
        <div class="container">
            <p class="copyright-info">@Localization.Copyright &copy; @DateTime.Now.Year @Localization.WebsiteSiteName. @Localization.AllRightsReserved. @Localization.DesignBy <a href="@Localization.AuthorUrl" title=""> @Localization.Author </a></p>
            <div class="footer-links">
                <p>Follow us</p>
                <ul class="dt-sc-social-icons">
                    <li class="facebook"><a href="#"><img src="@Url.Content("~/Content/images/facebook.png")" alt="" title=""></a></li>
                    <li class="twitter"><a href="#"><img src="@Url.Content("~/Content/images/twitter.png")" alt="" title=""></a></li>
                    <li class="gplus"><a href="#"><img src="@Url.Content("~/Content/images/gplus.png")" alt="" title=""></a></li>
                    <li class="pinterest"><a href="#"><img src="@Url.Content("~/Content/images/pinterest.png")" alt="" title=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer ends-->
