<div class="container">
    <h2 class="dt-sc-hr-green-title">Our Staffs</h2>

    <div class="column dt-sc-one-fourth first">
        <div class="dt-sc-team">
            <div class="image">
                <img class="item-mask" src="@Url.Content("~/Content/images/mask.png")" alt="" title="">
                <img src="@Url.Content("~/Content/images/team1.jpg")" alt="" title="">
                <div class="dt-sc-image-overlay">
                    <a href="#" class="link"><span class="fa fa-link"></span></a>
                    <a href="#" class="zoom"><span class="fa fa-search"></span></a>
                </div>
            </div>
            <div class="team-details">
                <h4> Jack Daniels </h4>
                <h6> Senior Supervisor </h6>
                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
            </div>
        </div>
    </div>
    <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
            <div class="image">
                <img class="item-mask" src="@Url.Content("~/Content/images/mask.png")" alt="" title="">
                <img src="@Url.Content("~/Content/images/team2.jpg")" alt="" title="">
                <div class="dt-sc-image-overlay">
                    <a href="#" class="link"><span class="fa fa-link"></span></a>
                    <a href="#" class="zoom"><span class="fa fa-search"></span></a>
                </div>
            </div>
            <div class="team-details">
                <h4> Linda Glendell </h4>
                <h6> Teaching Professor </h6>
                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
            </div>
        </div>
    </div>
    <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
            <div class="image">
                <img class="item-mask" src="@Url.Content("~/Content/images/mask.png")" alt="" title="">
                <img src="@Url.Content("~/Content/images/team3.jpg")" alt="" title="">
                <div class="dt-sc-image-overlay">
                    <a href="#" class="link"><span class="fa fa-link"></span></a>
                    <a href="#" class="zoom"><span class="fa fa-search"></span></a>
                </div>
            </div>
            <div class="team-details">
                <h4> Kate Dennings </h4>
                <h6> Children Diet </h6>
                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
            </div>
        </div>
    </div>
    <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
            <div class="image">
                <img class="item-mask" src="@Url.Content("~/Content/images/mask.png")" alt="" title="">
                <img src="@Url.Content("~/Content/images/team4.jpg")" alt="" title="">
                <div class="dt-sc-image-overlay">
                    <a href="#" class="link"><span class="fa fa-link"></span></a>
                    <a href="#" class="zoom"><span class="fa fa-search"></span></a>
                </div>
            </div>
            <div class="team-details">
                <h4> Kristof Slinghot </h4>
                <h6> Management </h6>
                <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
            </div>
        </div>
    </div>

</div>

