@using IXL.Resources
<div class="container">
    <h2 class="dt-sc-hr-green-title">@Localization.GalleryTitle</h2>

    <!--portfolio-content starts-->
    <div class="front-portfolio-container">
        <div class="portfolio-content portfolio-content1">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image1.jpg")" alt="" title="LEISURE TIME">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">LEISURE TIME</a></h5>
                            <a href="http://wedesignthemes.com/themes/dt-kidslife/dt_portfolios/leisure-time/" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image1.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-content portfolio-content2">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image2.jpg")" alt="" title="WITH FRIENDS">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">WITH FRIENDS</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image2.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-content portfolio-content3">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image3.jpg")" alt="" title="TODDLER CARE">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">TODDLER CARE</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image3.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-content portfolio-content4">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image4.jpg")" alt="" title="GET TOGETHER">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">GET TOGETHER</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image4.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-content portfolio-content5">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image5.jpg")" alt="" title="PARK GAMES">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">PARK GAMES</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image5.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-content portfolio-content6">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image6.jpg")" alt="" title="GUITAR MUSIC">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">GUITAR MUSIC</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image6.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-content portfolio-content7">
            <div class="front-portfolio">
                <div class="portfolio-outer">
                    <div class="portfolio-thumb">
                        <img src="@Url.Content("~/Content/images/image7.jpg")" alt="" title="MY CREATION">
                        <div class="image-overlay">
                            <h5><a href="portfolio-detail.html">MY CREATION</a></h5>
                            <a href="portfolio-detail.html" class="link"><span class="fa fa-link"></span></a>
                            <a href="@Url.Content("~/Content/images/image7.jpg")" data-gal="prettyPhoto[gallery]" class="zoom"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dt-sc-hr-small"></div>
        <div class="aligncenter">
            <a href="#" class="dt-sc-button medium mustard"> Hit here to view all <span class="fa fa-chevron-circle-right"> </span></a>
        </div>
    </div>

    <!--front-portfolio-container ends-->
</div>