@using IXL.Resources
<div class="container">

    <div class="dt-sc-one-fourth column first">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service2.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatHarekati</a></h4>
            <p>@Localization.HushKhallaghiyatHarekati1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service3.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatZabanamuzi</a></h4>
            <p>@Localization.HushKhallaghiyatZabanamuzi1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service4.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatOlum</a></h4>
            <p>@Localization.HushKhallaghiyatOlum1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service1.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatRiyazi</a></h4>
            <p>@Localization.HushKhallaghiyatRiyazi1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column first">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service1.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatShenidari</a></h4>
            <p>@Localization.HushKhallaghiyatShenidari1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service4.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatDidari</a></h4>
            <p>@Localization.HushKhallaghiyatDidari1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service3.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatFardi</a></h4>
            <p>@Localization.HushKhallaghiyatFardi1</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service2.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">@Localization.HushKhallaghiyatEjtemaei</a></h4>
            <p>@Localization.HushKhallaghiyatEjtemaei1</p>
        </div>
    </div>

</div>
